*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --background-default: #F5F4F0;
    --border-primary: #D9D9D9;
    --text-primary: #1B1B1B;
    --text-secondary: #333333;
    --text-tertiary: #696969;
    --color-headline: #E1624F;
    --accent-blue: #0C51A7;
    --accent-orange: #E95E10;
    --accent-pink: #E5245E;
    --accent-purple: #591B98;

    font-family: "Open Sans", sans-serif;
    margin-inline: 80px;
    margin-top: 88px;
    margin-bottom: 128px;
}

.headline {
    color:var(--color-headline);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

h1{
    color: var(--text-primary);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.img-header {
    width: 1200px;
    height: 680px;
    border-radius: 28px;
    margin-bottom: 24px;
}

.subtitle {
    color: var(--text-secondary);
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

#header {
    margin-bottom: 40px;
    margin-inline: 80px;
}

#lista {
    margin-top: 64px;
    margin-bottom: 40px;
    margin-inline: 80px;
}

h2 {
    margin-top: 2px;
    font-size: 32px;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: 8px;
}

.paragraph {
    color: var(--text-secondary);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 64px;
}

#lista img {
    width: 1200px;
    height: 420px;
    border-radius: 28px;
    margin-bottom: 20px;
}
